/* Mobile view */
@media (max-width: 700px) {
    /* Container and cards for dinner and ingredients */
    .container {
        display: grid;
        height: 900px;
        background-image: url("./Howls\ moving\ castle.jpeg");
        background-size: 100% stretch;
        background-position: top;
        background-repeat: no-repeat;
    }

    .half-width {
        flex: 1;
        display: flex;
        flex-direction: column; 
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

        width: 90%;
        height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }

    .dinners {
        background-image: url("./Calsipher.jpeg");
        background-size: cover;
    }

    .ingredients {
        background-image: url("./Ingredients.jpeg");
        background-size: cover;
    }

    /* The cards content */
    .header-div {
        position: sticky;
        bottom: auto;
        top: 0;
        padding-bottom: 5px;

        z-index: 1;
        text-align: center;
        font-weight: bold;
        padding-top: 5px;
        border-bottom: 3px solid rgb(0, 0, 0);
        background-color: white;
        opacity: 80%;
    }

    .content-div {
        flex: 1;
        padding: 5px;
    }

    .footer-div {
        position: sticky;
        top: auto;
        bottom: 0;
        z-index: 1;

        text-align: center;
        font-weight: bold;
        border-top: 3px solid rgb(0, 0, 0);
        background-color: white;
        opacity: 80%;
    }

    /* Buttons */
    .share-button {
        background-color: rgb(105, 160, 255);
        border: 1px;
        padding: 10px;
        margin: 10px;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
    }

    .add-button {
        background-color: rgb(146, 255, 139);
        border: 1px;
        padding: 10px;
        margin: 10px;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
    }

    /* Dinner card */
    .dinner-card {
        margin: 5px;
        padding: 5px;
        border: 1px solid;
        border-color: black;
        border-radius: 10px;
        background-color: white;
        opacity: 80%;
    }

    .new-dinner-card {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .card-top {
        margin: auto;
        display: flex;
    }

    .card-bottom {
        display: flex;
        justify-content: flex-end;
    }

    .blue-button {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5px;
        color: rgb(78, 143, 255);
    }

    .cross-button {
        top: 0;
        right: 0;
        margin-left: auto;
        margin-bottom: auto;
        color: rgb(254, 0, 0);
    }

    .dinner-text {
        margin: 5px;
        font-weight: 500;
    }

    .portions {
        font-weight: 500;
        margin: 5px;
    }


    /* Ingredient list styling */
    .ingredient {
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
        border-top: 1px solid;
        border-color: black;
        background-color: beige;
        opacity: 90%;
    }
}



/* Desktop view */
@media (min-width: 701px) {
    /* Container and cards for dinner and ingredients */
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url("./Kitchen.html");
        background-size: cover;
    }
    
    .half-width {
        flex: 1;
        display: flex;
        flex-direction: column; /* Set to vertical stacking */
        margin: auto;
        margin-top: 200px;
        width: 400px;
        height: 500px;
        max-height: 500px;
        overflow: scroll;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }
    
    .dinners {
        background-image: url("./Calsipher.jpeg");
        background-size: cover;
    }
    
    .ingredients {
        background-image: url("./Ingredients.jpeg");
        background-size: cover;
    }
    
    /* The cards content */
    .header-div {
        position: sticky;
        bottom: auto;
        top: 0;
        padding-bottom: 10px;
    
        z-index: 1;
        text-align: center;
        font-weight: bold;
        padding-top: 5px;
        border-bottom: 3px solid rgb(0, 0, 0);
        background-color: white;
        opacity: 80%;
    }
    
    .content-div {
        flex: 1;
        padding: 10px;
    }
    
    .footer-div {
        position: sticky;
        top: auto;
        bottom: 0;
        z-index: 1;
        padding-bottom: 10px;
    
        text-align: center;
        font-weight: bold;
        border-top: 3px solid rgb(0, 0, 0);
        background-color: white;
        opacity: 80%;
    }
    
    /* Buttons */
    .share-button {
        background-color: rgb(105, 160, 255);
        border: 1px;
        padding: 7px;
        margin: 5px;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
    }
    
    .add-button {
        background-color: rgb(146, 255, 139);
        border: 1px;
        padding: 7px;
        margin: 5px;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
    }
    
    /* Dinner card */
    .dinner-card {
        margin: 5px;
        padding: 5px;
        border: 1px solid;
        border-color: black;
        border-radius: 10px;
        background-color: white;
        opacity: 80%;
    }
    
    .new-dinner-card {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
    .card-top {
        margin: auto;
        display: flex;
    }
    
    .card-bottom {
        display: flex;
        justify-content: flex-end;
    }
    
    .blue-button {
        margin-top: auto;
        margin-bottom: auto;
        color: rgb(78, 143, 255);
    }
    
    .cross-button {
        top: 0;
        right: 0;
        margin-left: auto;
        margin-bottom: auto;
        color: rgb(254, 0, 0);
    }
    
    .dinner-text {
        margin: 5px;
        font-weight: 500;
    }
    
    .portions {
        font-weight: 500;
        margin: 5px;
    }
    
    
    /* Ingredient list styling */
    .ingredient {
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
        border-top: 1px solid;
        border-color: black;
        background-color: beige;
        opacity: 90%;
    }
}